/*--------------------------------------------------------------
# font-face
--------------------------------------------------------------*/

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: url(../fonts/Lato-Hairline.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Lato-Light.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf);

}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Lato-Black.ttf);
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url(../fonts/Lato-Regular.ttf);
}

/*----------------------------------------------
    HTML
-----------------------------------------------*/

html {
  min-width: 320px;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
  color: rgba(0, 0, 0, 0.85);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------------------------------
    Global styles
-----------------------------------------------*/

*, 
*:before, 
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*----------------------------------------------
    Body
-----------------------------------------------*/

body {
  min-width: inherit;
  font-size: 15px; 
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
  color: #000;
  background-color: #F5F5F5;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 1.2rem;
  }
}

/*----------------------------------------------
    Image
-----------------------------------------------*/

img {
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

/*----------------------------------------------
    body.modal-open
-----------------------------------------------*/

body.modal-open {
  overflow-y: hidden;
}
/* iOS fix */
@supports (-webkit-overflow-scrolling: touch) {
  body.modal-open {
    position: fixed;
    width: 100vw;
  }

  body.modal-open header {
    top: 0 !important;
  }
}

/*----------------------------------------------
    Scrollbar
-----------------------------------------------*/

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #E0E0E0;
}

/*----------------------------------------------
    Outline
-----------------------------------------------*/

*:focus {
  outline: 1px dashed #F44336;
  outline-offset: 2px;
}

body:not(.tab-used ) *:focus {
  outline: none;
}

/*----------------------------------------------
    Form
-----------------------------------------------*/

form {
  font-family: 'Lato', sans-serif;
  font-size: 1.4rem;
}

/*----------------------------------------------
    Typography
-----------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.15;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

em { font-style: italic; }

strong { font-weight: bolder; }

small { font-size: 75%; }

pre {
  font-family: monospace, monospace;
  font-size: 1.4rem;
}

/*----------------------------------------------
    Links
-----------------------------------------------*/

a { color: #3F51B5; }

a:hover,
a:active,
a:focus { color: #F44336; }


/*----------------------------------------------
    Placeholder
-----------------------------------------------*/

::placeholder,
:-ms-input-placeholder, 
::-ms-input-placeholder {
  color: #555;
  opacity: 0.9;
}

/*----------------------------------------------
    Main
-----------------------------------------------*/

main { display: block; }

/*----------------------------------------------
    Table
-----------------------------------------------*/

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base on normalize.css v7.0.0 */

/*----------------------------------------------
    Remove the bottom border in Chrome 57- and Firefox 39-.
    Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
-----------------------------------------------*/

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*----------------------------------------------
    Correct the inheritance and scaling of font size in all browsers.
    Correct the odd `em` font sizing in all browsers.
-----------------------------------------------*/

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*----------------------------------------------
    Prevent `sub` and `sup` elements from 
    affecting the line height in all browsers.
-----------------------------------------------*/

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub { bottom: -0.25em; }

sup { top: -0.5em; }

/*----------------------------------------------
    Remove the border on images inside links in IE 10-.
-----------------------------------------------*/

img { border-style: none; }

/*----------------------------------------------
    Show the overflow in IE.
    Show the overflow in Edge.
-----------------------------------------------*/

button, input { overflow: visible; }
 
/*----------------------------------------------
    Remove the inheritance of text transform in Edge, Firefox, and IE.
    Remove the inheritance of text transform in Firefox.
-----------------------------------------------*/
 
button, select { text-transform: none; }
 
/*----------------------------------------------
    Remove the inner border and padding in Firefox.
-----------------------------------------------*/
 
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
 
/*----------------------------------------------
    Restore the focus styles unset by the previous rule.
-----------------------------------------------*/
 
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
 
/*----------------------------------------------
    Correct the padding in Firefox.
----------------------------------------------*/
 
fieldset { padding: 0.35em 0.75em 0.625em; }

/*----------------------------------------------
    Remove the default vertical scrollbar in IE.
----------------------------------------------*/

textarea { overflow: auto; }

/*----------------------------------------------
    Correct the cursor style of increment and decrement buttons in Chrome.
----------------------------------------------*/

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
 
/*----------------------------------------------
    Correct the odd appearance in Chrome and Safari.
    Correct the outline style in Safari.
----------------------------------------------*/
 
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
 
/*----------------------------------------------
    Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
----------------------------------------------*/

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
 
/*----------------------------------------------
    Correct the inability to style clickable types in iOS and Safari.  
    Change font properties to `inherit` in Safari.
----------------------------------------------*/
 
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*----------------------------------------------
    Add the correct display in IE 10-.
----------------------------------------------*/

[hidden] {
  display: none;
}

/*--------------------------------------------------------------
    Carousel - Core
--------------------------------------------------------------*/

.carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; 
}

.carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */ 
}

.carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; 
}

.carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px); 
}

.carousel .owl-wrapper,
.carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); 
}

.carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; 
}

.carousel .owl-item .item a {
	color:#000;
}

.carousel .owl-item img {
  display: block;
  width: 100%; 
}

.carousel .owl-nav.disabled,
.carousel .owl-dots.disabled {
  display: none; 
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next,
.carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.carousel.owl-loaded {
  display: block; 
}

.carousel.owl-loading {
  opacity: 0;
  display: block; 
}

.carousel.owl-hidden {
  opacity: 0; 
}

.carousel.owl-refresh .owl-item {
  visibility: hidden; }

.carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

.carousel.owl-grab {
  cursor: move;
  cursor: grab; 
}

.carousel.owl-rtl {
  direction: rtl; 
}

.carousel.owl-rtl .owl-item {
  float: right; 
}

/* No Js */
.no-js .carousel {
  display: block; 
}

/*----------------------------------------------
    carousel
-----------------------------------------------*/

.owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; 
}

.owl-nav [class*='owl-'] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  height: calc(100% - 10px);
  color: #424242;
  font-size: 1.5rem;
  display: inline-block;
  margin: auto;
  cursor: pointer;
  text-indent: -99999px;
  opacity: 0.1;
}

.owl-nav [class*='owl-'].disabled {
  display: none;
}

.owl-nav .owl-prev {
  left: 0;
  background: url(../img/chevron-left.svg) no-repeat center, #FFF;
  background-size: 16px;
}

.owl-nav .owl-next {
  right: 0;
  background: url(../img/chevron-right.svg) no-repeat center, #FFF;
  background-size: 16px;
}

.owl-nav .disabled {
  cursor: default;
}

.owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-dots .owl-dot span {
  width: 8px;
  height: 8px;
  margin: 5px 7px;
  background: #C9C9C9;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
  background: #999;
}

@media only screen and (min-width: 769px) {
  .owl-nav [class*='owl-'] {
    width: 30px;
    opacity: 0.2;
  }
}

/*----------------------------------------------
    carousel people
-----------------------------------------------*/

.carousel.people {
  max-width: 1024px;
}

.carousel.people .owl-nav .owl-prev {
  left: -20px;
  width: 16px;
  background-color: #FFF;
  background-image: none;
  -webkit-mask: url(../img/chevron-left.svg) no-repeat center;
}

.carousel.people .owl-nav .owl-next {
  right: -20px;
  width: 16px;
  background-color: #FFF;
  background-image: none;
  -webkit-mask: url(../img/chevron-right.svg) no-repeat center;
}

@media only screen and (min-width: 601) {
  .carousel.people .owl-nav .owl-prev {
    left: -30px;
  }
  
  .carousel.people .owl-nav .owl-next {
    right: -30px;
  }
}
