/*----------------------------------------------
    Row, Group, Clearfix
-----------------------------------------------*/

.row::after, 
.group::after, 
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*----------------------------------------------
    Display according to viewport
-----------------------------------------------*/

@media only screen and (min-width: 993px) {
  .mobile { display: none; }
}

@media only screen and (max-width: 993px) {
  .desktop { display: none; }
}

/*----------------------------------------------
    typoghrapy
-----------------------------------------------*/

.text-center { text-align: center; }
.text-right { text-align: right; }
.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.font-small { font-size: 1.1rem }
.font-medium { font-size: 1.4rem; }
.font-large { font-size: 1.8rem; }

/*----------------------------------------------
    float
-----------------------------------------------*/

.float-left { float: left; }
.float-right { float: right; }

/*----------------------------------------------
    spacer
-----------------------------------------------*/

.spacer { margin-bottom: 20px; }
.spacer.mb10 { margin-bottom: 10px; }
.spacer.mb20 { margin-bottom: 20px; }
.spacer.mb30 { margin-bottom: 30px; }
.spacer.mb40 { margin-bottom: 40px; }
.spacer.mb50 { margin-bottom: 50px; }

@media only screen and (min-width: 993px) {
  .spacer { margin-bottom: 40px; }
}

/*----------------------------------------------
    font-color
-----------------------------------------------*/

.primary { color: #3F51B5; }
.accent { color: #F44336; }
.white { color: #FFF; }
.black { color: #000; }
.red { color: #F44336; }
.pink { color: #E91E63; }
.purple { color: #9C27B0; }
.deep-purple { color: #673AB7; }
.indigo { color: #3F51B5; }
.blue { color: #2196F3; }
.light-blue { color: #03A9F4; }
.cyan { color: #00BCD4; }
.teal { color: #009688; }
.green { color: #4CAF50; }
.light-green { color: #8BC34A; }
.lime { color: #CDDC39; }
.yellow { color: #FFEB3B; }
.amber { color: #FFC107; }
.orange { color: #FF9800; }
.deep-orange { color: #FF5722; }
.brown { color: #795548; }
.grey { color: #9E9E9E; }
.blue-grey { color: #607D8B; }

/*----------------------------------------------
    background
-----------------------------------------------*/

.background { background: inherit; }
.background.primary { background: #000; }
.background.accent { background: #EEE; }
.background.grey-50 { background: #FAFAFA; }
.background.grey-100 { background: #F5F5F5; }
.background.grey-200 { background: #EEEEEE; }
.background.grey-300 { background: #E0E0E0; }
.background.grey-400 { background: #BDBDBD; }
.background.grey-500 { background: #999999; }
.background.grey-600 { background: #757575; }
.background.grey-700 { background: #616161; }
.background.grey-800 { background: #424242; }
.background.grey-900 { background: #212121; }

/*----------------------------------------------
    z-depth
-----------------------------------------------*/

.z-depth {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

/*----------------------------------------------
    display-*
-----------------------------------------------*/

.display-grid {
  display: -ms-grid;
  display: grid;
}

.display-inline-grid {
  display: -ms-inline-grid;
  display: inline-grid;
}

.display-flex {
  display: flex;
}

.display-inline-flex {
  display: inline-flex;
}

.display-block {
  display: table;
}

.display-inline-block {
  display: inline-table;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.display-inline {
  display: inline;
}

/*----------------------------------------------
    object-fit (objec-fit.js Added for IE support)
-----------------------------------------------*/

.object-fit_fill { 
  object-fit: fill; 
  font-family: 'object-fit: fill;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_contain { 
  object-fit: contain;
  font-family: 'object-fit: contain;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_cover { 
  object-fit: cover;
  font-family: 'object-fit: cover;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_none { 
  object-fit: none;
  font-family: 'object-fit: none;' /* special font-family property to allow IE to read the correct value */
}

.object-fit_scale-down { 
  object-fit: scale-down;
  font-family: 'object-fit: scale-down;' /* special font-family property to allow IE to read the correct value */
}

/*--------------------------------------------------------------
    GRID Column
--------------------------------------------------------------*/

.col {
  float: left;
  width: 100%;
}

.col.s1 { width: 8.33333%; }
.col.s2 { width: 16.66666%; }
.col.s3 { width: 24.99999%; }
.col.s4 { width: 33.33333%; }
.col.s5 { width: 41.66666%; }
.col.s6 { width: 49.99999%; }
.col.s7 { width: 58.33333%; }
.col.s8 { width: 66.66666%; }
.col.s9 { width: 74.99999%; }
.col.s10 { width: 83.33333%; }
.col.s11 { width: 91.66666%; }
.col.s12 { width: 99.99999%; }

@media (min-width: 601px) {
  .col.m1 { width: 8.33333%; }
  .col.m2 { width: 16.66666%; }
  .col.m3 { width: 24.99999%; }
  .col.m4 { width: 33.33333%; }
  .col.m5 { width: 41.66666%; }
  .col.m6 { width: 49.99999%; }
  .col.m7 { width: 58.33333%; }
  .col.m8 { width: 66.66666%; }
  .col.m9 { width: 74.99999%; }
  .col.m10 { width: 83.33333%; }
  .col.m11 { width: 91.66666% }
  .col.m12 { width: 99.99999%; }
}

@media (min-width: 993px) {
  .col.l1 { width: 8.33333%; }
  .col.l2 { width: 16.66666%; }
  .col.l3 { width: 24.99999%; }
  .col.l4 { width: 33.33333%; }
  .col.l5 { width: 41.66666%; }
  .col.l6 { width: 49.99999%; }
  .col.l7 { width: 58.33333%; }
  .col.l8 { width: 66.66666%; }
  .col.l9 { width: 74.99999%; }
  .col.l10 { width: 83.33333%; }
  .col.l11 { width: 91.66666%; }
  .col.l12 { width: 99.99999%; }
}

/*----------------------------------------------
  wrap, container
-----------------------------------------------*/

.wrap, 
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/*----------------------------------------------
    Section
-----------------------------------------------*/

.section { 
  padding: 5px 10px 35px;
}

.section.no-pad {
  padding: 0;
}

@media only screen and (min-width: 993px) {
  .section { 
    padding: 10px 30px 40px;
  }
}

/*----------------------------------------------
   paper
-----------------------------------------------*/
.paper {
  background-color: #FFF;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}


/*----------------------------------------------
   card
-----------------------------------------------*/

.card {
  margin: 5px;
  background-color: #FFF;
  border-radius: 10px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.card.transparent {
  background-color: transparent;
  box-shadow: none;
}

.card .card-content {
  padding: 10px;
}

.card.item .image-entry {
  width: 100%;
  height: 200px;
  background-color: #E0E0E0;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card.item .image-entry {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  font-family: 'object-fit: cover;'
}

.card.item .image-entry.default {
  object-fit: contain;
  object-position: center;
  font-family: 'object-fit: contain;'
}

.card.item .title-entry {
  height: 40px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2;
  overflow: hidden;
}

.card.item .text-entry {
  height: 40px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.15;
  overflow: hidden;
}

.card.item .link-entry {
  padding: 10px;
  border-top: 1px solid #EEE;
}

@media only screen and (min-width: 993px) {
  .card .card-content {
    padding: 20px;
  }

  .card.item .title-entry {
    height: 45px;
    margin: 0 0 10px;
    font-size: 1.8rem;
  }
  
  .card.item .text-entry {
    height: 50px;
    font-size: 1.4rem;
  }

  .card.item .link-entry {
    padding: 20px;
  }
}

/*----------------------------------------------
   btn
-----------------------------------------------*/

.btn {
  display: inline-block;
  height: 35px;
  padding: 0 30px;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 2.5;
  border-radius: 8px;
  background-color: #555;
}

.btn.primary {
  background-color: #3F51B5;
}

.btn.accent {
  background-color: #F44336;
}

.btn.white {
  color: #3F51B5;
  background-color: #FFF;
}

.btn.white:hover {
  color: #FFF;
  background-color: #F44336;
}

.btn:hover {
  color: #FFF;
  background-color: #212121;
}

.btn i {
  margin-right: 10px;
}

/*----------------------------------------------
    site-header
-----------------------------------------------*/

.site-header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  margin: auto;
  padding: 0 10px;
  background-color: #FFF;
  z-index: 9;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
              0 1px 5px 0 rgba(0, 0, 0, 0.12), 
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 993px) {
  .site-header {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 992px) {
  .site-header.fr-pg {
    top: -65px;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 400ms ease-in-out;
  }

  .site-header.fr-pg.show {
    top: 0;
  }
}

/*----------------------------------------------
    header-link-cluster
-----------------------------------------------*/

.header-link-cluster {
  margin-left: auto;
  white-space: nowrap;
}

@media only screen and (max-width: 768px) {
  .header-link-cluster {
    display: none;
  }
}

/*----------------------------------------------
    site-branding
-----------------------------------------------*/

.site-branding {
  display: flex;
  align-items: center;
  width: 260px;
  margin-left: 10px;
  color: #3F51B5 !important;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.22rem;
}

.site-branding img {
  max-width: 48px;
  margin-right: 10px;
}

.site-branding h1,
.site-branding p {
  font-size: inherit;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.site-branding span {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.16rem;
}

@media only screen and (min-width: 993px) {
  .site-branding {
    width: 310px;
    margin-left: 0;
    font-size: 2rem;
  }

  .site-branding span {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.3rem;
  }
}

@media only screen and (max-width: 768px) {
  .site-branding img {
    display: none;
  }
}

/*----------------------------------------------
    header-icon-link
-----------------------------------------------*/

.header-icon-link {
  position: relative;
  display: inline-table;
  height: 35px;
  margin: 0 10px;
  color: #3F51B5;
  font-size: 2.5rem;
  text-decoration: none;
  vertical-align: bottom;
}

.header-icon-link:hover {
  color: #F44336;
}

.header-icon-link:hover::before,
.header-icon-link:hover::after {
  content: "";
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  opacity: 0.8;
}

.header-icon-link:hover::before {
  top: 50px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #424242;
}

.header-icon-link:hover::after {
  top: 65px;
  right: 50%;
  min-width: 60px;
  height: 30px;
  padding: 5px 20px;
  color: #FFF;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: #424242;
  border: 1px solid #424242;
  border-radius: 10px;
}

.header-icon-link#location:hover::after {
  content: "Locations";
}

.header-icon-link#donate:hover::after {
  content: "Donate";
}

.header-icon-link#about:hover::after {
  content: "About";
}

/*----------------------------------------------
    menu-button
-----------------------------------------------*/

.menu-button {
  width: 30px;
  height: 30px;
  color: #3F51B5 !important;
  font-size: 2.5rem;
  text-align: center;
  line-height: 32px;
}

/*----------------------------------------------
    site-cta
-----------------------------------------------*/

.site-cta {
  margin: 0 10px;
  background-color: #3F51B5;
}

.site-cta:hover {
  background-color: #F44336;
}

@media only screen and (min-width: 993px) {
  .site-cta {
    margin: 0 15px;
  }
}

/*----------------------------------------------
    site-search
-----------------------------------------------*/

.site-search {
  position: relative;
  width: calc(100% - 20px);
  max-width: 400px;
  margin: 20px 10px;
}

.site-search input[type=text] {
  width: 100%;
  height: 35px;
  padding: 5px 10px;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.site-search [type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 35px;
  color: #424242;
  font-size: 1.5rem;
  background-color: #EEE;
  border: 1px solid #EEE;
  box-shadow: none;
  border-radius: 0 10px 10px 0;
}

.site-search [type=submit]:hover {
  color: #FFF;
  background-color: #F44336;
  border-color: #F44336;
}

@media only screen and (min-width: 993px) {
  .site-search {
    width: calc(100% - 710px);
    margin: 0 10px;
  }
}

/*----------------------------------------------
  site-navigation
-----------------------------------------------*/

.site-navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  padding: 60px 0 10px;
  background-color: #FAFAFA;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 8;
  -moz-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.site-navigation::-webkit-scrollbar {
  display: none;
  width: 4px;
  background-color: #F5F5F5;
}

.site-navigation:hover::-webkit-scrollbar {
  display: unset;
}

.site-navigation::-webkit-scrollbar-thumb {
  background-color: #E0E0E0;
  border-radius: 2px;
}

@media only screen and (min-width: 993px) {
  .site-navigation {
    width: 300px;
  }
}

@media only screen and (max-width: 992px) {
  .site-navigation {
    left: -300px;
  }

  .site-navigation.open {
    left: 0;
  }
}

/*----------------------------------------------
    main-nav
-----------------------------------------------*/

.main-nav {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #E0E0E0;
  list-style: none;
}

.main-nav:first-child {
  margin: 10px 0 0;
}

.main-nav a {
  position: relative;
  display: block;
  padding: 0 15px;
  color: #424242;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 40px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.main-nav > li > a::after {
  content: "\f054";
  position: absolute;
  top: 50%;
  right: 15px;
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  line-height: 1;
  transform: translateY(-50%);
  opacity: 0.2;
}

.main-nav > li > a.accordion::after {
  opacity: 0.75;
}

.main-nav > li > a.accordion.active::after {
  content: "\f078";
}

.main-nav a:hover {
  color: #FFF;
  background-color: #3F51B5;
}

.main-nav .sub-menu {
  list-style: none;
  max-height: 0;
  background-color: #EEE;
  overflow: hidden;
  -moz-transition: max-height 200ms ease-in-out;
  -webkit-transition: max-height 200ms ease-in-out;
  transition: max-height 200ms ease-in-out;
}

.main-nav .sub-menu a {
  padding-left: 30px;
}

@media only screen and (min-width: 993px) {
  .main-nav a {
    padding: 0 30px;
    font-size: 1.5rem;
  }

  .main-nav > li > a::after {
    right: 20px;
  }

  .main-nav .sub-menu a {
    padding-left: 50px;
  }
}

/*----------------------------------------------
    site-main
-----------------------------------------------*/

.site-main {
  min-height: 120vh;
  padding: 60px 0 50px;
  background-color: #F5F5F5;
}

/* .site-main.fr-pg {
  margin-top: 20px;
} */

.site-main.fr-pg::before {
  content: "";
  display: block;
  width: 0;
  height: 60px;
  margin-top: -60px;
}

@media only screen and (min-width: 993px) {
  .site-main {
    margin-left: 300px;
  }
}

/*----------------------------------------------
    site-atf
-----------------------------------------------*/

.site-atf {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 100px;
  background: url(../img/background-map.png) no-repeat;
  background-color: #E8EAF6;
  background-size: contain;
  background-position: 0 100px;
}

.site-atf h2 {
  text-align: center;
}

@media only screen and (min-width: 993px) {
  .site-atf {
    z-index: 99;
  }

  .site-atf.fr-pg {
    position: absolute;
    top: 0;
    opacity: 1;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  .site-atf.fr-pg.hide {
    top: -100vh;
    opacity: 0;
  }
}

@media only screen and (min-width: 1441px) {
  .site-atf {
    background-size: auto;
    background-position: 50%;
  }
}

@media only screen and (min-width: 993px) and (min-height: 641px) {
  .site-atf {
    height: 100vh;
  }
}

/*----------------------------------------------
    site-atf-header
-----------------------------------------------*/

.site-atf-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 0 10px;
}

@media only screen and (min-width: 601px) {
  .site-atf-header {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 993px) {
  .site-atf-header {
    height: 120px;
    padding: 0 30px;
  }
}

@media only screen and (min-width: 1281px) {
  .site-atf-header {
    height: 200px;
  }
}

/*----------------------------------------------
    atf-content
-----------------------------------------------*/

.atf-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  margin: auto;
}

.atf-content > div {
  justify-self: center;
  padding: 10px;
}

.atf-content .entry-1 {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-column: 1/2;
  grid-row: 1/2;
}

.atf-content .entry-2 {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-column: 1/2;
  grid-row: 2/3;
}

@media only screen and (min-width: 601px) {
  .atf-content {
    -ms-grid-columns: 50% 50%;
    -ms-grid-rows: 1fr;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr;
  }


  .atf-content .entry-1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .atf-content .entry-2 {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

@media only screen and (min-width: 769px) {
  .atf-content {
    padding: 0 30px;
  }

  .atf-content > div {
    padding: 30px;
  }
}

@media only screen and (min-height: 601px) {
  .atf-content {
    width: 100%;
    max-width: 1440px;
    margin: auto;
  }
}

/*----------------------------------------------
    verse-cluster
-----------------------------------------------*/

.verse-cluster {
  max-width: 320px;
  color: #3f51b5;
  font-size: 1.2rem;
  line-height: 2;
  margin: 0 0 20px;
}

.verse-cluster .title-entry {
  color: #F44336;
  font-size: 1.5rem;
}

@media only screen and (min-width: 601px) {
  .verse-cluster {
    font-size: 1.4rem;
  }
  
  .verse-cluster .title-entry {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 993px) {
  .verse-cluster {
    max-width: 100%;
    font-size: 1.8rem;
    margin: 0 0 40px;
  }
  
  .verse-cluster .title-entry {
    font-size: 2.5rem;
  }
}

/*----------------------------------------------
    subscribe
-----------------------------------------------*/

.subscribe {
  position: relative;
  width: calc(100% - 10px);
  max-width: 320px;
}

.subscribe .card-content {
  padding: 60px 20px 20px;
  margin-top: 30px;
}

.subscribe .profile-entry {
  position: absolute;
  top: -30px;
  right: 50%;
  width: 80px;
  height: 80px;
  background-color: #F5F5F5;
  border-radius: 50%;
  box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.2);
  transform: translateX(50%);
  overflow: hidden;
  z-index: 2;
}

.subscribe .profile-entry img {
  width: 100%;
  object-fit: contain;
  font-family: 'object-fit: contain;'
}

.subscribe .title-entry {
  color: #3f51b5;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.subscribe .note-entry {
  color:  #FF5722;
  font-size: 1.2rem;
  font-weight: 300;
}

@media only screen and (min-width: 601px) {
  .subscribe .card-content {
    padding: 70px 20px 20px;
    margin-top: 50px;
  }

  .subscribe .profile-entry {
    top: -50px;
    width: 100px;
    height: 100px;
  }
}

@media only screen and (min-width: 993px) {
  .subscribe .profile-entry {
    top: -75px;
    width: 150px;
    height: 150px;
  }

  .subscribe .card-content {
    padding: 95px 20px 20px;
    margin-top: 75px;
  }
}

/*----------------------------------------------
    subscribe-form
-----------------------------------------------*/

.subscribe-form {
  width: 100%;
  margin: 20px 0;
}

.subscribe-form label {
  position: absolute;
  display: block;
  width: 90px;
  height: 35px;
  padding: 0 10px 0 20px;
  color: #999;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 35px;
  background-color: #EEE;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}

.subscribe-form input[type=text],
.subscribe-form input[type=email] {
  position: relative;
  width: 100%;
  height: 35px;
  margin: 0 0 20px;
  padding: 5px 10px 5px 100px;
  font-size: 1.4rem;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.subscribe-form input[type=submit] {
  width: 100%;
  height: 35px;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #3F51B5;
  border: none;
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.subscribe-form input[type=submit]:hover {
  background-color: #F44336;
}

.subscribe-form input::placeholder {
  color: #E0E0E0;
}

/*----------------------------------------------
    contact-form
-----------------------------------------------*/

.contact-form {
  width: 100%;
  margin: 20px 0;
}

.contact-form label {
  position: absolute;
  display: block;
  width: 100px;
  height: 35px;
  padding: 0 10px 0 20px;
  color: #999;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 35px;
  background-color: #EEE;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 1;
}

.contact-form label.tarea {
  height: 200px;
}

.contact-form input[type=text],
.contact-form input[type=email] {
  position: relative;
  width: 100%;
  height: 35px;
  margin: 0 0 20px;
  padding: 5px 10px 5px 110px;
  font-size: 1.4rem;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.contact-form textarea {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 200px;
  margin: 0 0 20px;
  padding: 5px 10px 5px 110px;
  font-size: 1.4rem;
  background-color: #F5F5F5;
  border: 1px solid #EEE;
  border-radius: 10px;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  resize: none;
}

.contact-form input[type=submit] {
  width: 100%;
  height: 35px;
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #3F51B5;
  border: none;
  border-radius: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.contact-form input[type=submit]:hover {
  background-color: #F44336;
}

.contact-form ::placeholder {
  color: #E0E0E0;
}

/*----------------------------------------------
    site-headline
-----------------------------------------------*/

.site-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 0 10px 100px;
  color: #FFF;
  background-color: #3F51B5;
}

@media only screen and (min-width: 993px) {
  .site-headline {
    align-items: flex-start;
    height: 400px;
    padding: 0 60px 100px;
  }
}

/*----------------------------------------------
    headline-title
-----------------------------------------------*/

.headline-title {
  color: #FFF;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.5rem;
}

/*----------------------------------------------
    atf-branding
-----------------------------------------------*/

.atf-branding {
  display: flex;
  align-items: center;
  width: 320px;
  color: #3F51B5 !important;
  font-size: 1.8rem;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 0.22rem;
}

.atf-branding img {
  max-width: 80px;
  margin-right: 10px;
}

.atf-branding h1,
.atf-branding p {
  font-size: inherit;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.atf-branding span {
  display: block;
  color: #F44336;
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.22rem;
}

@media only screen and (min-width: 993px) {
  .atf-branding {
    width: 500px;
    margin-left: 0;
    font-size: 3.2rem;
  }

  .atf-branding img {
    max-width: 100px;
    margin-right: 20px;
  }

  .atf-branding span {
    font-size: 1.8rem;
    letter-spacing: 0.26rem;
  }
}

@media only screen and (min-width: 1281px) {
  .atf-branding {
    width: 700px;
    font-size: 4.2rem;
  }

  .atf-branding img {
    max-width: 150px;
    margin-right: 20px;
  }

  .atf-branding span {
    font-size: 2.4rem;
    letter-spacing: 0.28rem;
  }
}

/*----------------------------------------------
    site-footer
-----------------------------------------------*/

.site-footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  padding: 10px;
  background: #424242;
}

@media only screen and (min-width: 769px) {
  .site-footer {
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 993px) {
  .site-footer {
    margin-left: 300px;
    padding: 10px 30px;
  }
}

/*----------------------------------------------
    footer-branding
-----------------------------------------------*/

.footer-branding {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.4) !important;
  font-size: 1.7rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.22rem;
}

.footer-branding span {
  display: block;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: 0.3rem;
}

.footer-branding img {
  max-width: 48px;
  margin-right: 10px;
}

/*----------------------------------------------
    footer-link-cluster
-----------------------------------------------*/

.footer-link-cluster {
  margin-left: auto;
}

@media only screen and (max-width: 768px) {
  .footer-link-cluster {
    display: none;
  }
}

/*----------------------------------------------
    footer-link
-----------------------------------------------*/

.footer-link {
  list-style: none;
}

.footer-link li {
  float: left;
}

.footer-link a {
  padding: 0 10px;
  color: #FFF;
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-link a:hover {
  opacity: 0.75;
}

/*----------------------------------------------
    main-article
-----------------------------------------------*/

.main-article {
  max-width: 1024px;
  margin: -100px 10px 50px;
  padding: 50px 0 0;
}

.main-article.max {
  max-width: 100%;
}

@media only screen and (min-width: 993px) {
  .main-article {
    margin: -100px 30px 0;
  }
}

/*----------------------------------------------
    fr-pg-article
-----------------------------------------------*/

@media only screen and (min-width: 993px) {
  .fr-pg-article {
    padding: 20px 0 0px;
  }
}

/*----------------------------------------------
    btn-jump-main
-----------------------------------------------*/

.btn-jump-main {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #3F51B5;
  font-size: 2rem;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background-color: #FFF;
  opacity: 0.75;
}

.btn-jump-main {
  position: absolute;
  right: 50%;
  bottom: 40px;
  transform: translateX(50%);
}

.btn-jump-main.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 rgba(63, 81, 181, 0.4);
  animation: pulse 2000ms infinite;
}

.btn-jump-main:hover {
  color: #F44336;
  opacity: 1;
  animation: none;
}

.btn-jump-main:visited {
  color: #3F51B5;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0.4);
  }
  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(63, 81, 181, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0.0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0.4);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0.4);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 10px rgba(63, 81, 181, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
    box-shadow: 0 0 0 0 rgba(63, 81, 181, 0);
  }
}

@media only screen and (min-width: 993px) and (min-height: 601px) {
  .btn-jump-main {
    bottom: 40px;
  }
}

/*----------------------------------------------
    btn-jump-atf
-----------------------------------------------*/

.btn-jump-atf {
  display: none;
  width: calc(100% - 300px);
  height: 50px;
  margin-top: 60px;
  margin-left: auto;
  color: #555 !important;
  text-align: center;
  text-decoration: none;
  line-height: 50px;
  background-color: #EEE;
  opacity: 0.5;
}

.btn-jump-atf::before {
  content: "\f062";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  line-height: 1;
  margin: 0 5px;
}

.btn-jump-atf:hover {
  opacity: 1;
}

@media only screen and (min-width: 993px) {
  .btn-jump-atf {
    display: block;
  }
}

/*----------------------------------------------
    more-btn
-----------------------------------------------*/

.more-btn {
  color: #3F51B5;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.more-btn::after {
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
  line-height: 1;
  margin: 0 5px;
}

/*----------------------------------------------
    title-bar
-----------------------------------------------*/

.title-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 20px;
}

.title-bar .title-entry {
  color: #424242;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.title-bar .more-btn {
  margin-left: auto;
}

@media only screen and (min-width: 601px) {
  .title-bar .title-entry {
    font-size: 2rem;
  }
}

/*----------------------------------------------
    people-cluster
-----------------------------------------------*/

.people-cluster {
  padding: 20px 30px;
  margin: 0 0 40px;
  text-align: center;
  background-color: #3F51B5;
}

.people-cluster .title-entry {
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
}

.people-cluster .name-entry {
  color: #FFF;
  margin: 10px 0 0;
  font-size: 1.2rem;
}

.people-cluster .carousel {
  margin: 20px auto;
}

@media only screen and (min-width: 993px) {
  .people-cluster {
    padding: 50px 30px;
  }

  .people-cluster .title-entry {
    font-size: 2rem;
  }

  .people-cluster .name-entry {
    font-size: 1.4rem;
  }

  .people-cluster .carousel {
    margin: 40px auto;
  }
}

/*----------------------------------------------
    post-list
-----------------------------------------------*/

.post-list {
  list-style: none;
}

.post-list::after {
  content: "";
  display: table;
  clear: both;
}

.post-list li {
  float: left;
  width: 100%;
}

@media only screen and (min-width: 601px) {
  .post-list li {
    width: calc(33.333% - 10px);
  }
}

@media only screen and (min-width: 993px) {
  .post-list li {
    width: calc(50% - 10px);
  }
}

@media only screen and (min-width: 1281px) {
  .post-list li {
    width: calc(33.333% - 10px);
  }
}

/*----------------------------------------------
    pagination
-----------------------------------------------*/

.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 40px 0;
  font-size: 1.2rem;
  list-style: none;
}

.pagination a {
  display: block;
  padding: 5px 10px;
  margin: 0 2px;
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FAFAFA;
  border-radius: 4px;
}

.pagination a:hover,
.pagination a.active {
  color: #FFF;
  background-color: #F44336;
}

.pagination li:first-child a,
.pagination li:last-child a {
  color: #FFF;
  background-color: #3F51B5;
}

/*----------------------------------------------
    iframe-map
-----------------------------------------------*/

.iframe-map {
  width: 100%;
  height: 500px;
  border: 1px solid #FAFAFA;
}